# Auto detect text files and perform LF normalization
* text=auto
https://pak-aging-backend.vercel.app/auth/signup
{
  "full_name": "Ali Khan",
  "age": 28,
  "gender": "Male",
  "cnic_number": "4210162074807",
  "mobile_number": "03158829392",
  "city": "Karachi",
  "address": "House 12, Block A, Gulshan-e-Iqbal",
  "district": "Karachi East",
  "ethnicity": "Punjabi",
  "password": "Password@123"
}
