.head{
  color: red;
  background-color: aqua;
  border: 2px solid black;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input1{
  color: red;
}